<div class="home-banner-wrapper">
	<div class="col-first">
		<a href="#">
			<img
				class="img-responsive"
				src="{{cdn 'assets/img/banner/left-resized.jpg'}}"
			/>
		</a>

		<div class="text">
			<h4>Trending</h4>
			<h2>Best Design ever</h2>
			<p class="helper">Upto 30% off</p>
		</div>
	</div>
	<div class="col-second">
		<div class="row-first">
			<div class="row-col">
				<a href="#">
					<img
						class="img-responsive"
						src="{{cdn 'assets/img/banner/right-top-left.jpg'}}"
					/>
				</a>
				<div class="text">
					<h4>Up to</h4>
					<h2>60% Discount</h2>
				</div>
			</div>
			<div class="row-col-second">
				<a href="#">
					<img
						class="img-responsive"
						src="{{cdn 'assets/img/banner/right-top-right.jpg'}}"
					/>
				</a>
				<div class="text">
					<h4>up to</h4>
					<h2>40% off</h2>
				</div>
			</div>
		</div>
		<div class="row-second">
			<a href="#">
				<img
					class="img-responsive"
					src="{{cdn 'assets/img/banner/right-bottom.jpg'}}"
				/>
			</a>
			<div class="text">
				<h4>Up To</h4>
				<h2>best makeover</h2>
			</div>
		</div>
	</div>
</div>
