<div class="feature-wrapper">
	<div class="container">
		<div class="feature">
			<div class="icon-holder">
				<img
					class="img-responsive"
					src="{{cdn 'webdav: ../../../../../assets/icons/free.png'}}"
				/>
			</div>

			<div class="content">
				<h4 class="title">Free shipping worldwide</h4>
				<p class="copy">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum id a
					rerum natus tempora nostrum?
				</p>
			</div>
		</div>
		<div class="feature">
			<div class="icon-holder">
				<img
					class="img-responsive"
					src="{{cdn 'webdav: ../../../../../assets/icons/money-back.png'}}"
				/>
			</div>

			<div class="content">
				<h4 class="title">Money back gurantee</h4>
				<p class="copy">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum id a
					rerum natus tempora nostrum?
				</p>
			</div>
		</div>
		<div class="feature">
			<div class="icon-holder">
				<img
					class="img-responsive"
					src="{{cdn 'webdav: ../../../../../assets/icons/customer-service.png'}}"
				/>
			</div>

			<div class="content">
				<h4 class="title">24/7 help center</h4>
				<p class="copy">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum id a
					rerum natus tempora nostrum?
				</p>
			</div>
		</div>
	</div>
</div>
