.newArrivals {
	padding: 5vh 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.heading {
		text-align: center;
		text-transform: uppercase;
		font-size: $fontSize-largest * 1.3;
		font-weight: $fontWeight-bold;
		margin-bottom: 3rem;
		letter-spacing: 2px;
	}
	/*
 CSS for the main interaction
*/
	.tabset > input[type="radio"] {
		position: absolute;
		left: -200vw;
	}

	.tabset .tab-panel {
		display: none;
	}

	.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
	.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
	.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
	.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
	.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
	.tabset
		> input:nth-child(11):checked
		~ .tab-panels
		> .tab-panel:nth-child(6) {
		display: block;
	}

	.tabset > label {
		position: relative;
		display: inline-block;
		padding: 1rem;
		// border: 1px solid transparent;
		// border-bottom: 0;
		cursor: pointer;
		font-size: $fontSize-small;
		font-weight: $fontWeight-semibold;
		color: $color-primary;
	}

	// .tabset > label::after {
	// 	content: "";
	// 	position: absolute;
	// 	left: 15px;
	// 	bottom: 10px;
	// 	width: 22px;
	// 	height: 4px;
	// 	background: #8d8d8d;
	// }

	.tabset > label:hover,
	.tabset > input:focus + label {
		color: $color-accent;
	}

	.tabset > label:hover::after,
	.tabset > input:focus + label::after,
	.tabset > input:checked + label::after {
		background: $color-accent;
	}

	.tabset > input:checked + label {
		border-color: #ccc;
		border-bottom: 1px solid inherit;
		margin-bottom: -1px;
		color: $color-accent;
	}

	.tab-panel {
		margin-top: 3rem;
		padding: 2rem 0;
		border-top: 1px solid $color-greyLighter;
		text-align: left;
	}

	.tabset {
		max-width: 100%;
		text-align: center;
	}
}
