{{#partial "page"}}

{{!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} --}}

<main class="page">
    <div class="contact-header">
        {{#unless theme_settings.hide_contact_us_page_heading }}
            <h1 class="page-heading">{{page.title}}</h1>
            <h4 class="page-sub-heading">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, qui voluptate! Alias esse necessitatibus quidem.</h4>
        {{/unless}}
    </div>

    {{!-- {{#if page.sub_pages}}
        <nav class="navBar navBar--sub">
            <ul class="navBar-section account-navigation">
                {{#each page.sub_pages}}
                    <li class="navBar-item"><a class="navBar-action" href="{{url}}">{{title}}</a></li>
                {{/each}}
            </ul>
        </nav>
    {{/if}} --}}

    <div id="contact-us-page" class="page-content page-content--full">
        {{#if forms.contact.success}}
            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
        {{else}}
            <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
        {{/if}}
        
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233436.7436379988!2d-105.00153941397072!3d39.759259367569136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b80aa231f17cf%3A0x118ef4f8278a36d6!2sDenver%2C%20CO%2C%20USA!5e0!3m2!1sen!2sbd!4v1588621668646!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
   

    
</main>

{{/partial}}

{{> layout/base}}
