---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
        summary: 100
---

{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}

<div class="main full">
    {{> components/common/banners}} 
    {{> components/common/features}} 
    {{#if products.featured}}
        {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
    {{/if}}
    {{{region name="home_below_featured_products"}}}

    {{#if products.top_sellers}}
        {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
    {{/if}}
    {{{region name="home_below_top_products"}}}

    {{#if products.new}}
        {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
    {{/if}}
    {{{region name="home_below_new_products"}}}
    
    
    
</div>
{{/partial}}

{{#partial 'newsletter'}}

{{> components/common/newsLetter}} 
{{/partial}}


{{#partial 'others'}}
    <div class="blog-section">
        <h3 class="blog-heading" >Our Blog</h3>
        <div class="blog-wrapper">
            {{#each blog.recent_posts}}
            <div class="blog-single">
                
                <img class="img-responsive" src="{{getImage thumbnail  }}" alt="{{thumbnail.alt}}">
                {{!-- use this 'gallery_size' inside the image source to get 300X300 image --}}
                <div class="blog-content">
                    <p class="publish-date" > {{date_published}} </p>
                    <p class="blog-title" >{{title}}</p>
                    <p class="blog-summary" >{{summary}}</p>
                    <a href="{{url}}">Read more ></a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
{{/partial}}

{{> layout/base}}
