.newsletter-wrapper {
	// border: 2px solid #000;
	margin: 5vh 0;
	background: linear-gradient(
			109.6deg,
			rgba(darken($color-primary, 25), 0.7) 11.2%,
			rgba(darken($color-primary, 35), 0.8) 81.2%
		),
		url("https://cdn11.bigcommerce.com/s-0cvdh/product_images/uploaded_images/page-header.jpg")
			no-repeat center;
	// background: rgb(196, 38, 156);
	text-align: center;
	padding: 10vh 0;
	text-transform: capitalize;
	color: $color-secondary;
	.container {
		// border: 2px solid #000;
		width: 100%;
		margin: 0 auto;
		.newsletter-header,
		.newsletter-header-lg {
			color: inherit;
			text-transform: capitalize;

			letter-spacing: 2px;
		}
		.newsletter-header-lg {
			margin-bottom: 3rem;
			margin-top: 1rem;
			letter-spacing: 3px;
			font-weight: 600;
		}
		.button--primary {
			background-color: darken($color-primary, 20);
			color: $color-secondary;
			border-color: $color-secondary;

			&:hover {
				background-color: $color-primary;
			}
		}
	}
}

@include breakpoint("medium") {
	.newsletter-wrapper {
		// background: url({{cdn"assets/icons/free.png"}});
		margin: 10vh 0;
		padding: 15vh 0;
		.container {
			// border: 2px solid #000;
			width: 60%;
			margin: 0 auto;
			.newsletter-header,
			.newsletter-header-lg {
				color: inherit;
			}
			.button--primary {
				color: $color-secondary;
				border-color: $color-secondary;
			}
		}
	}
}
