.newsletter-wrapper {
	// border: 2px solid #000;
	margin: 5vh 0;
	background: linear-gradient(
			109.6deg,
			rgba($color-highlightDarker, 1) 11.2%,
			rgba(darken($color-highlight, 10), 1) 81.2%
		),
		url("https://cdn11.bigcommerce.com/s-0cvdh/product_images/uploaded_images/page-header.jpg")
			no-repeat center;
	// background: rgb(196, 38, 156);
	background-blend-mode: multiply;
	text-align: center;
	padding: 15vh 0;
	text-transform: capitalize;
	color: $color-white;
	.container {
		// border: 2px solid #000;
		width: 100%;
		margin: 0 auto;
		.newsletter-header,
		.newsletter-header-lg {
			color: inherit;
			text-transform: capitalize;

			letter-spacing: 2px;
		}
		.newsletter-header {
			font-weight: $fontWeight-medium;
		}
		.newsletter-header-lg {
			margin-bottom: 3rem;
			margin-top: 1rem;
			letter-spacing: 3px;
			font-size: $fontSize-largest * 1.2;
			font-weight: $fontWeight-semibold;
		}
		.button--primary {
			background-color: $color-black;
			color: $color-white;
			border-color: $color-black;

			&:hover {
				background-color: $color-accent;
				border-color: $color-accent;
			}
		}
		.form-prefixPostfix .form-input,
		.form-prefixPostfix .button {
			width: initial;
			margin: 0;
			@media (max-width: 449px) {
				width: 100%;
				margin-top: spacing("half");
			}
		}
		.form-input {
			border-radius: 0;
			border-color: $color-white;
		}
	}
}

@include breakpoint("medium") {
	.newsletter-wrapper {
		// background: url({{cdn"assets/icons/free.png"}});
		margin: 10vh 0;
		padding: 20vh 0;
		.container {
			// border: 2px solid #000;
			width: 60%;
			margin: 0 auto;
			.newsletter-header,
			.newsletter-header-lg {
				color: inherit;
			}
		}
	}
}
