// PRODUCT CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the product carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display product
//
// 1. If there's no JS layout the products out based on the grid.
//
// -----------------------------------------------------------------------------

.productCarousel {
	// 1
	width: 1px;
	min-width: 100%;
	@include grid-row($behavior: nest);
}

.productCarousel-slide {
	// 1
	@include grid-column(6);

	@include breakpoint("small") {
		width: grid-calc(4, $total-columns);
	}

	@include breakpoint("medium") {
		width: grid-calc(3, $total-columns);
	}

	@include breakpoint("large") {
		width: grid-calc(2, $total-columns);
	}

	.card {
		margin-bottom: 0;

		.card-title {
			overflow-wrap: break-word;
		}
	}
}

.card-body {
	.card-title {
		font-size: $fontSize-large * 0.9;
		color: $color-black;
		font-weight: $fontWeight-medium;
		a {
			color: inherit;
		}
	}
}

.card-text.custom {
	margin-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.price {
		.price--withoutTax {
			font-size: $fontSize-large;
			font-weight: $fontWeight-semibold;
		}
	}
	.rating {
		svg {
			stroke: $color-accent;
			stroke-width: 2px;
			fill: $color-white;
		}
		.icon--ratingFull {
			svg {
				fill: $color-accent;
			}
		}
	}
}
